<div>
    <nav class="nav" >
        <ul class="nav__ul">
            <li class="nav__ul__li"><a href="">Accueil</a></li>
            <li class="nav__ul__li"><a href="">A propos</a></li>
            <li class="nav__ul__li"><a href="">Nous contacter</a></li>
        </ul>
    </nav>
</div>